body {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: powderblue;
}

.aboutme{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: blue;
}

.aboutmeitem{

}

.mywork{
  background-color: red;
}

.contactme{
  background-color: white;
}
