body {
  display: grid;
  background-color: black;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 150px;
  margin-right: 150px;
}

.aboutme{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  background-color:rgb(104, 180, 252);
}

img{
  object-fit: cover;
  max-height: 1000px;
  max-width: 400px;
}

.aboutmeitem{
  align-self: center;
  min-height: 400px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.mywork{
  display: flex;
  align-content: center;
  flex-direction: column;
  background-color: white;
  margin-bottom: 10px;
}

h1 {
  margin:10px;
}
.workitems{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 10px;
  margin: 10px;
  flex-flow: row wrap;

}
.workitem{
  border-style: solid;
}

.contactme{
  background-color: rgb(104, 180, 252);
}
